<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414909427281-eiahs9vpv4kt7stmnp7bk093ibv43ut5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414909427281-eiahs9vpv4kt7stmnp7bk093ibv43ut5</string>
	<key>API_KEY</key>
	<string>AIzaSyA3CdtIrNuRrV7lJQza7rhMlOTVuJ1XjFI</string>
	<key>GCM_SENDER_ID</key>
	<string>414909427281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app-os.DataTrip</string>
	<key>PROJECT_ID</key>
	<string>datatrip-6bf6a</string>
	<key>STORAGE_BUCKET</key>
	<string>datatrip-6bf6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414909427281:ios:68a77054fdc641d77ed270</string>
	<key>DATABASE_URL</key>
	<string>https://datatrip-6bf6a.firebaseio.com</string>
</dict>
</plist>